
@media only screen and (max-width: 1199px) {
    .paddingfive {
      padding: 2%;
    }
  
    p.paragrafo {
      font-size: 14px;
    }
  
    .rpl {
      margin-top: 7%;
    }
  
    .botaosumarionarrativo {
      margin-top: 9%;
    }
  
    .botaotrechorosasair {
      min-width: 200px;
    }
  
    .aviso {
      height: 50%;
      width: 115%;
    }

    .aviso2 {
      height: 53px;
    width: 105%;
    }
  
    .mostrar{
      left: 27%;
    }
    
    div.questionario {
      width: 70%;
    }
  
    div.aprendizado {
      min-width: 650px;
    }
  
    .menu {
      background-position: 50% 65%;
    }
  
    .aoi {
      top: -17%;
      left: -31%;
    }
    
    .aon{
      top: -6%;
      left: -32%;
    }
    
    .ect{
      top: -6%;
      left: -38%;
    }
    
    .np{
      top: -6%;
      left: -40%;
    }
    
    .osm {
      top: -16%;
      left: -33%;
    }
    
    .os {
      top: -6%;
      left: -32%;
    }
    
    .omd {
      top: -6%;
      left: -33%;
    }
    
    .ac{
      top: -6%;
      left: -19%;
    }

    textarea {
      display: block;
      margin: 0 auto;
    }

    .aviso{
      height: 80%;
      width: 105%;
    }

    button.botaotrechoamarelo {
      width: 60%;
    }

    .fundolivro[data-questao='0'] .aspasamarela {
      top: 3%;
    }

    .fundolivro[data-questao='1'] .aspasamarela {
      top: 3%;
    }

    .fundolivro[data-questao='2'] .aspasamarela {
      top: 3%;
    }

    .fundolivro[data-questao='3'] .aspasamarela {
      top: 2%;
    }

    .fundolivro[data-questao='4'] .aspasamarela {
      top: 3%;
    }

    .fundolivro[data-questao='5'] .aspasamarela {
      top: 3%;
    }

    .fundolivro[data-questao='6'] .aspasamarela {
      top: 3%;
    }

    .fundolivro[data-questao='7'] .aspasamarela {
      top: 3%;
    }

    .fundolivro[data-questao='8'] .aspasamarela {
      top: 3%;
    }

    .fundolivro[data-questao='0'] .aspasamarelainversa {
      top: 82%;
    }

    .fundolivro[data-questao='1'] .aspasamarelainversa {
      top: 82%;
    }

    .fundolivro[data-questao='2'] .aspasamarelainversa {
      top: 82%;
    }

    .fundolivro[data-questao='3'] .aspasamarelainversa {
      top: 90%;
    }

    .fundolivro[data-questao='4'] .aspasamarelainversa {
      top: 88%;
    }

    .fundolivro[data-questao='5'] .aspasamarelainversa {
      top: 82%;
    }

    .fundolivro[data-questao='6'] .aspasamarelainversa {
      top: 72%;
    }

    .fundolivro[data-questao='7'] .aspasamarelainversa {
      top: 87%;
    }

    .fundolivro[data-questao='8'] .aspasamarelainversa {
      top: 82%;
    }

  }